# **ASSIGNMENT**

#  **Data Types and Structures Questions**

1. What are data structures, and why are they important?

 A data structure is a way of organizing and storing data to perform operations efficiently. They are crucial because they determine how data is managed in memory and how quickly operations like insertion, deletion, and retrieval can be performed.

 Example:
 Imagine you have a box of marbles. If the marbles are scattered, finding a specific color takes time. But if they're sorted by color, finding one is faster.
 In programming, arrays (like lists), trees, and dictionaries are examples of data structures that organize data efficiently.

2. Explain the difference between mutable and immutable data types with examples.

 Mutable: Can be changed after creation.

 Immutable: Cannot be changed once created

 Examples:

In [ ]:
# Mutable: Lists
my_list = [1, 2, 3]
my_list[1] = 20  # Modifies the list
print(my_list)  # Output: [1, 20, 3]

[1, 20, 3]

In [ ]:
# Immutable tuples
my_tuple = (1, 2, 3)
# my_tuple[1] = 20  # This will throw an error
my_tuple[1] = 20

TypeError: 'tuple' object does not support item assignment

3. What are the main differences between lists and tuples in Python?

 Lists: Mutable, slower, better for dynamic data.

 Tuples: Immutable, faster, used for fixed data.

 Example:

In [ ]:
# List
my_list = [1, 2, 3]
my_list.append(4)  # Allowed
print(my_list)  # Output: [1, 2, 3, 4]

# Tuple
my_tuple = (1, 2, 3)
# my_tuple.append(4)  # Not allowed

[1, 2, 3, 4]

4. Describe how dictionaries store data.

  Dictionaries store data as key-value pairs using a hash table internally, allowing quick access to values based on their keys.

  Example:

In [ ]:
my_dict = {'name': 'Alice', 'age': 25}
print(my_dict['name'])  # Output: Alice

Alice

5. Why might you use a set instead of a list in Python?

  Sets automatically remove duplicates and are faster for membership checks.
  
  Example:

In [ ]:
my_list = [1, 2, 2, 3]
my_set = set(my_list)
print(my_set)  # Output: {1, 2, 3}
print(2 in my_set)  # Fast membership check

{1, 2, 3}
True

6. What is a string in Python, and how is it different from a list?

  A string is a sequence of characters (immutable), while a list is a sequence of items (mutable).

  Example:

In [ ]:
my_string = "hello"
# my_string[0] = 'H'  # Error: Strings are immutable

my_list = ['h', 'e', 'l', 'l', 'o']
my_list[0] = 'H'  # Works: Lists are mutable
print(my_list)  # Output: ['H', 'e', 'l', 'l', 'o']

['H', 'e', 'l', 'l', 'o']

7. How do tuples ensure data integrity in Python?

  Tuples are immutable, preventing accidental changes, making them ideal for storing constant data.

  Example:

In [ ]:
coordinates = (10.5, 20.8)  # Cannot be changed
# coordinates[0] = 15  # Throws an error

8. What is a hash table, and how does it relate to dictionaries in Python?

  A hash table maps keys to values using a hash function, allowing fast lookups. Python dictionaries use hash tables internally.

  Example:

In [ ]:
my_dict = {'key1': 'value1'}
# The hash of 'key1' determines where 'value1' is stored.

9. Can lists contain different data types in Python?

  Yes, lists can hold elements of different data types.

  Example:

In [ ]:
my_list = [1, "hello", 3.14, True]
print(my_list)  # Output: [1, 'hello', 3.14, True]

[1, 'hello', 3.14, True]

10. Explain why strings are immutable in Python.

  Strings are immutable to improve performance, especially when multiple variables reference the same string.

  Example:

In [ ]:
s1 = "hello"
s2 = s1  # Both reference the same string
s1[0] = 'H'  # Error: Strings cannot be changed

TypeError: 'str' object does not support item assignment

11. What advantages do dictionaries offer over lists for certain tasks?

  Dictionaries provide faster lookups for data using keys, unlike lists that require searching by index or value.

  Example:

In [ ]:
# List Example: Finding age of 'Alice' requires searching
people = [['name', 'Alice'], ['age', 25]]
for person in people:
    if person[0] == 'age':
        print(person[1])  # Output: 25

# Dictionary Example: Direct access
people_dict = {'name': 'Alice', 'age': 25}
print(people_dict['age'])  # Output: 25

25
25

12. Describe a scenario where using a tuple would be preferable over a list.

  Use a tuple when the data should not be modified, such as coordinates, fixed configuration values, or return values from a function.

  Example:

In [ ]:
# Coordinates that should remain constant
coordinates = (10, 20)
# coordinates[0] = 15  # Error: Tuples cannot be modified

13. How do sets handle duplicate values in Python?

  Sets automatically remove duplicate values, ensuring all elements are unique.

  Example:

In [ ]:
my_set = {1, 2, 2, 3}
print(my_set)  # Output: {1, 2, 3}

{1, 2, 3}

14. How does the "in" keyword work differently for lists and dictionaries?

  Lists: Checks if the value exists.
  
  Dictionaries: Checks if the key exists.
  
  Example:

In [ ]:
my_list = [1, 2, 3]
print(2 in my_list)  # Output: True

my_dict = {'name': 'Alice', 'age': 25}
print('name' in my_dict)  # Output: True (Checks key)
print('Alice' in my_dict)  # Output: False

True
True
False

15. Can you modify the elements of a tuple? Explain why or why not.

  No, tuples are immutable, meaning their elements cannot be changed after creation. This ensures data integrity.

  Example:

In [ ]:
my_tuple = (1, 2, 3)
# my_tuple[0] = 10  # Error: Tuples cannot be modified

16. What is a nested dictionary, and give an example of its use case?

  A nested dictionary is a dictionary containing another dictionary as a value. It’s useful for representing hierarchical or complex data.

  Example:

In [ ]:
students = {
    'Alice': {'age': 25, 'grade': 'A'},
    'Bob': {'age': 22, 'grade': 'B'}
}
print(students['Alice']['grade'])  # Output: A

A

17. Describe the time complexity of accessing elements in a dictionary.

  Accessing elements in a dictionary has an average time complexity of O(1) due to hash-based indexing.

  Example:

In [ ]:
my_dict = {'key1': 'value1'}
print(my_dict['key1'])  # Fast lookup

value1

18. In what situations are lists preferred over dictionaries?

  Use lists when:

  1.Data doesn’t need keys.

  2.Order matters.
  
  3.Duplicate values are allowed.
  
  Example:

In [ ]:
names = ['Alice', 'Bob', 'Charlie']
# Good for maintaining order or duplicates

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

  Before Python 3.7, dictionaries were unordered, meaning their items didn’t follow insertion order. From Python 3.7 onward, they maintain insertion order but are still accessed using keys.

  Example:

In [ ]:
my_dict = {'b': 2, 'a': 1}
print(list(my_dict))  # Output: ['b', 'a'] (Insertion order from Python 3.7)

['b', 'a']

20. Explain the difference between a list and a dictionary in terms of data retrieval.

  List: Data is retrieved using an index.
  
  Dictionary: Data is retrieved using a key.
  
  Example:

In [ ]:
# List
my_list = [10, 20, 30]
print(my_list[1])  # Output: 20

# Dictionary
my_dict = {'key1': 'value1', 'key2': 'value2'}
print(my_dict['key1'])  # Output: value1

20
value1

# **Practical Questions**

1. Create a string with your name and print it.

In [ ]:
name = "Vishal Biradar"
print(name)

Vishal Biradar

2. Find the length of the string "Hello World"

In [ ]:
string = "Hello World"
print(len(string))

11

3. Slice the first 3 characters from the string "Python Programming".

In [ ]:
text = "Python Programming"
print(text[:3])

Pyt

4. Convert the string "hello" to uppercase

In [ ]:
word = "hello"
print(word.upper())

HELLO

5. Replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

6. Create a list with numbers 1 to 5 and print it

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7. Append the number 10 to the list [1, 2, 3, 4]

In [ ]:
num_list = [1, 2, 3, 4]
num_list.append(10)
print(num_list)

[1, 2, 3, 4, 10]

8. Remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
num_list = [1, 2, 3, 4, 5]
num_list.remove(3)
print(num_list)

[1, 2, 4, 5]

9. Access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

10. Reverse the list [10, 20, 30, 40, 50]

In [ ]:
num_list = [10, 20, 30, 40, 50]
print(num_list[::-1])

[50, 40, 30, 20, 10]

11. Create a tuple with the elements 10, 20, 30 and print it

In [ ]:
tuple_example = (10, 20, 30)
print(tuple_example)

(10, 20, 30)

12. Access the first element of the tuple ('apple', 'banana', 'cherry')

In [ ]:
fruits = ('apple', 'banana', 'cherry')
print(fruits[0])

apple

13. Count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)

In [ ]:
num_tuple = (1, 2, 3, 2, 4, 2)
print(num_tuple.count(2))

3

14. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [ ]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

15. Check if the element "banana" is in the tuple ('apple', 'orange', 'banana')

In [ ]:
fruits = ('apple', 'orange', 'banana')
print("banana" in fruits)

True

16. Create a set with the elements 1, 2, 3, 4, 5 and print it

In [ ]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

17. Add the element 6 to the set {1, 2, 3, 4}

In [ ]:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

18. Create a tuple with the elements 10, 20, 30 and print it (Duplicate of #11)

In [ ]:
tuple_example = (10, 20, 30)
print(tuple_example)

(10, 20, 30)

19. Access the first element of the tuple ('apple', 'banana', 'cherry')

In [ ]:
fruits = ('apple', 'banana', 'cherry')
print(fruits[0])

apple

20. Count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)

In [ ]:
num_tuple = (1, 2, 3, 2, 4, 2)
print(num_tuple.count(2))

3

21. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [ ]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

22. Check if the element "banana" is in the tuple ('apple', 'orange', 'banana')

In [ ]:
fruits = ('apple', 'orange', 'banana')
print("banana" in fruits)

True

23. Create a set with the elements 1, 2, 3, 4, 5 and print it.

In [ ]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

24. Add the element 6 to the set {1, 2, 3, 4}

In [ ]:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}