# **ASSIGNMENT**

1. Write a code to reverse a string.

In [1]:
def reverse_string(s):
    return s[::-1]

# Example usage:
input_string = "hello"
print(reverse_string(input_string))  # Output: "olleh"

olleh

2. Write a code to count the number of vowels in a string.

In [2]:
def count_vowels(s):
    vowels = "aeiouAEIOU"
    return sum(1 for char in s if char in vowels)

# Example usage:
input_string = "hello world"
print(count_vowels(input_string))  # Output: 3

3

3. Write a code to check if a given string is a palindrome or not.

In [3]:
def is_palindrome(s):
    return s == s[::-1]

# Example usage:
input_string = "madam"
print(is_palindrome(input_string))  # Output: True

True

4. Write a code to check if two given strings are anagrams of each other.

In [4]:
def are_anagrams(s1, s2):
    return sorted(s1) == sorted(s2)

# Example usage:
str1 = "listen"
str2 = "silent"
print(are_anagrams(str1, str2))  # Output: True

True

5. Write a code to find all occurrences of a given substring within another string.

In [5]:
def find_substring_occurrences(s, sub):
    return [i for i in range(len(s)) if s.startswith(sub, i)]

# Example usage:
main_string = "ababab"
substring = "ab"
print(find_substring_occurrences(main_string, substring))  # Output: [0, 2, 4]

[0, 2, 4]

6. Write a code to perform basic string compression using the counts of repeated characters.

In [6]:
def compress_string(s):
    compressed = []
    count = 1
    for i in range(1, len(s)):
        if s[i] == s[i - 1]:
            count += 1
        else:
            compressed.append(f"{s[i - 1]}{count}")
            count = 1
    compressed.append(f"{s[-1]}{count}")
    return "".join(compressed)

# Example usage:
input_string = "aaabbc"
print(compress_string(input_string))  # Output: "a3b2c1"

a3b2c1

7. Write a code to determine if a string has all unique characters.

In [7]:
def has_unique_chars(s):
    return len(s) == len(set(s))

# Example usage:
input_string = "abcdef"
print(has_unique_chars(input_string))  # Output: True

True

8. Write a code to convert a given string to uppercase or lowercase.

In [8]:
def convert_case(s, to_upper=True):
    return s.upper() if to_upper else s.lower()

# Example usage:
input_string = "Hello World"
print(convert_case(input_string, to_upper=True))  # Output: "HELLO WORLD"
print(convert_case(input_string, to_upper=False))  # Output: "hello world"

HELLO WORLD
hello world

9. Write a code to count the number of words in a string.

In [9]:
def count_words(s):
    return len(s.split())

# Example usage:
input_string = "hello world, how are you?"
print(count_words(input_string))  # Output: 5

5

10. Write a code to concatenate two strings without using the + operator.

In [10]:
def concatenate_strings(s1, s2):
    return f"{s1}{s2}"

# Example usage:
str1 = "hello"
str2 = "world"
print(concatenate_strings(str1, str2))  # Output: "helloworld"

helloworld

11. Write a code to remove all occurrences of a specific element from a list.

In [11]:
def remove_element(lst, element):
    return [x for x in lst if x != element]

# Example usage:
input_list = [1, 2, 3, 4, 3, 5]
element_to_remove = 3
print(remove_element(input_list, element_to_remove))  # Output: [1, 2, 4, 5]

[1, 2, 4, 5]

12. Implement a code to find the second largest number in a given list of integers.

In [12]:
def second_largest(lst):
    unique_numbers = list(set(lst))
    unique_numbers.sort()
    return unique_numbers[-2] if len(unique_numbers) > 1 else None

# Example usage:
input_list = [5, 1, 3, 2, 4, 4]
print(second_largest(input_list))  # Output: 4

4

13. Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values.

In [13]:
from collections import Counter

def count_occurrences(lst):
    return dict(Counter(lst))

# Example usage:
input_list = [1, 2, 2, 3, 3, 3]
print(count_occurrences(input_list))  # Output: {1: 1, 2: 2, 3: 3}

{1: 1, 2: 2, 3: 3}

14. Write a code to reverse a list in-place without using any built-in reverse functions.

In [14]:
def reverse_list(lst):
    left, right = 0, len(lst) - 1
    while left < right:
        lst[left], lst[right] = lst[right], lst[left]
        left += 1
        right -= 1
    return lst

# Example usage:
input_list = [1, 2, 3, 4, 5]
print(reverse_list(input_list))  # Output: [5, 4, 3, 2, 1]

[5, 4, 3, 2, 1]

15. Implement a code to find and remove duplicates from a list while preserving the original order.

In [15]:
def remove_duplicates(lst):
    seen = set()
    return [x for x in lst if not (x in seen or seen.add(x))]

# Example usage:
input_list = [1, 2, 2, 3, 4, 3, 5]
print(remove_duplicates(input_list))  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

16. Create a code to check if a given list is sorted (either in ascending or descending order) or not.

In [16]:
def is_sorted(lst):
    return lst == sorted(lst) or lst == sorted(lst, reverse=True)

# Example usage:
input_list = [1, 2, 3, 4]
print(is_sorted(input_list))  # Output: True

True

17. Write a code to merge two sorted lists into a single sorted list.

In [17]:
def merge_sorted_lists(lst1, lst2):
    return sorted(lst1 + lst2)

# Example usage:
list1 = [1, 3, 5]
list2 = [2, 4, 6]
print(merge_sorted_lists(list1, list2))  # Output: [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

18. Implement a code to find the intersection of two given lists.

In [18]:
def find_intersection(lst1, lst2):
    return list(set(lst1) & set(lst2))

# Example usage:
list1 = [1, 2, 3]
list2 = [2, 3, 4]
print(find_intersection(list1, list2))  # Output: [2, 3]

[2, 3]

19. Create a code to find the union of two lists without duplicates.

In [19]:
def find_union(lst1, lst2):
    return list(set(lst1) | set(lst2))

# Example usage:
list1 = [1, 2, 3]
list2 = [3, 4, 5]
print(find_union(list1, list2))  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

20. Write a code to shuffle a given list randomly without using any built-in shuffle functions.

In [20]:
import random

def shuffle_list(lst):
    for i in range(len(lst) - 1, 0, -1):
        j = random.randint(0, i)
        lst[i], lst[j] = lst[j], lst[i]
    return lst

# Example usage:
input_list = [1, 2, 3, 4, 5]
print(shuffle_list(input_list))  # Output: Shuffled version of the list

[5, 1, 3, 2, 4]

21. Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples.

In [21]:
def common_elements(t1, t2):
    return tuple(set(t1) & set(t2))

# Example usage:
tuple1 = (1, 2, 3, 4)
tuple2 = (3, 4, 5, 6)
print(common_elements(tuple1, tuple2))  # Output: (3, 4)

(3, 4)

22. Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets.

In [22]:
def intersection_of_sets():
    set1 = set(map(int, input("Enter integers for Set 1 (comma-separated): ").split(',')))
    set2 = set(map(int, input("Enter integers for Set 2 (comma-separated): ").split(',')))
    print("Intersection:", set1 & set2)

# Example usage:
# User enters: 1,2,3 for Set 1 and 2,3,4 for Set 2
# Output: Intersection: {2, 3}
intersection_of_sets()

Enter integers for Set 1 (comma-separated): 1,2,3
Enter integers for Set 2 (comma-separated): 2,3,4
Intersection: {2, 3}

23. Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.

In [23]:
def concatenate_tuples(t1, t2):
    return t1 + t2

# Example usage:
tuple1 = (1, 2)
tuple2 = (3, 4)
print(concatenate_tuples(tuple1, tuple2))  # Output: (1, 2, 3, 4)

(1, 2, 3, 4)

24. Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set.

In [24]:
def difference_of_sets():
    set1 = set(input("Enter strings for Set 1 (comma-separated): ").split(','))
    set2 = set(input("Enter strings for Set 2 (comma-separated): ").split(','))
    print("Difference (Set 1 - Set 2):", set1 - set2)

# Example usage:
# User enters: a,b,c for Set 1 and b,c,d for Set 2
# Output: Difference (Set 1 - Set 2): {'a'}
difference_of_sets()

Enter strings for Set 1 (comma-separated): a,b,c
Enter strings for Set 2 (comma-separated): b,c,d
Difference (Set 1 - Set 2): {'a'}

25. Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices.

In [25]:
def slice_tuple(t, start, end):
    return t[start:end]

# Example usage:
input_tuple = (0, 1, 2, 3, 4, 5)
start_index = 1
end_index = 4
print(slice_tuple(input_tuple, start_index, end_index))  # Output: (1, 2, 3)

(1, 2, 3)

26. Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets.

In [26]:
def union_of_sets():
    set1 = set(input("Enter characters for Set 1 (comma-separated): ").split(','))
    set2 = set(input("Enter characters for Set 2 (comma-separated): ").split(','))
    print("Union:", set1 | set2)

# Example usage:
# User enters: a,b,c for Set 1 and c,d,e for Set 2
# Output: Union: {'a', 'b', 'c', 'd', 'e'}
union_of_sets()

Enter characters for Set 1 (comma-separated): a,b,c
Enter characters for Set 2 (comma-separated): c,d,e
Union: {'c', 'd', 'a', 'b', 'e'}

27. Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking.

In [27]:
def max_min_tuple(t):
    return max(t), min(t)

# Example usage:
input_tuple = (1, 3, 5, 7)
print(max_min_tuple(input_tuple))  # Output: (7, 1)

(7, 1)

28. Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets.

In [28]:
def set_operations(set1, set2):
    print("Union:", set1 | set2)
    print("Intersection:", set1 & set2)
    print("Difference (Set1 - Set2):", set1 - set2)

# Example usage:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
set_operations(set1, set2)
# Output:
# Union: {1, 2, 3, 4}
# Intersection: {2, 3}
# Difference (Set1 - Set2): {1}

Union: {1, 2, 3, 4}
Intersection: {2, 3}
Difference (Set1 - Set2): {1}

29. Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple.

In [29]:
def count_occurrences_in_tuple(t, element):
    return t.count(element)

# Example usage:
input_tuple = (1, 2, 2, 3, 2)
element = 2
print(count_occurrences_in_tuple(input_tuple, element))  # Output: 3

3

30. Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets.

In [30]:
def symmetric_difference_of_sets():
    set1 = set(input("Enter strings for Set 1 (comma-separated): ").split(','))
    set2 = set(input("Enter strings for Set 2 (comma-separated): ").split(','))
    print("Symmetric Difference:", set1 ^ set2)

# Example usage:
# User enters: a,b,c for Set 1 and c,d,e for Set 2
# Output: Symmetric Difference: {'a', 'b', 'd', 'e'}
symmetric_difference_of_sets()

Enter strings for Set 1 (comma-separated): a,b,c
Enter strings for Set 2 (comma-separated): c,d,e
Symmetric Difference: {'b', 'd', 'a', 'e'}

31. Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list.

In [31]:
def word_frequencies(words):
    return {word: words.count(word) for word in set(words)}

# Example usage:
input_list = ["apple", "banana", "apple", "orange", "banana", "apple"]
print(word_frequencies(input_list))  # Output: {'orange': 1, 'banana': 2, 'apple': 3}

{'banana': 2, 'orange': 1, 'apple': 3}

32. Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together.

In [32]:
def merge_dictionaries(d1, d2):
    merged = d1.copy()
    for key, value in d2.items():
        merged[key] = merged.get(key, 0) + value
    return merged

# Example usage:
dict1 = {"a": 1, "b": 2}
dict2 = {"b": 3, "c": 4}
print(merge_dictionaries(dict1, dict2))  # Output: {'a': 1, 'b': 5, 'c': 4}

{'a': 1, 'b': 5, 'c': 4}

33. Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None.

In [33]:
def get_nested_value(d, keys):
    for key in keys:
        if isinstance(d, dict) and key in d:
            d = d[key]
        else:
            return None
    return d

# Example usage:
nested_dict = {"a": {"b": {"c": 42}}}
keys = ["a", "b", "c"]
print(get_nested_value(nested_dict, keys))  # Output: 42

42

34. Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order.

In [34]:
def sort_dict_by_values(d, ascending=True):
    return dict(sorted(d.items(), key=lambda item: item[1], reverse=not ascending))

# Example usage:
input_dict = {"a": 3, "b": 1, "c": 2}
print(sort_dict_by_values(input_dict, ascending=True))  # Output: {'b': 1, 'c': 2, 'a': 3}

{'b': 1, 'c': 2, 'a': 3}

35. Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary.

In [35]:
def invert_dictionary(d):
    inverted = {}
    for key, value in d.items():
        if value not in inverted:
            inverted[value] = [key]
        else:
            inverted[value].append(key)
    return inverted

# Example usage:
input_dict = {"a": 1, "b": 2, "c": 1}
print(invert_dictionary(input_dict))  # Output: {1: ['a', 'c'], 2: ['b']}

{1: ['a', 'c'], 2: ['b']}